/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .top {
   background: black; 
   height: 35px; 
 }

a {
  color: white; 
}

.search {
  color: white; 
  border: 3px solid red; 
}

ul {
  display: flex; 
}

li {
  list-style-type: none;
  margin: 20px 40px; 
}

.lnk{
  position: relative;
  top: -9px;
  margin-top: 0;
  margin-right: 4px;
  font-weight: bolder;
  padding: 2px;
  font-size: 12px;
  color: black;
}
.lnk:hover {
  color: black; 
}

.top-mid {
  display: flex; 
  justify-content: center; 
}
.right-btn {
  position: relative; 
  right: -150px; 
}

.row {
  margin-top: 20px;
}

h4 {
  margin-bottom: 0px;
}

h2 {
  margin-left: 10px;
  margin-right: 40px; 
}

.form-control {
  width: 250px; 
}

.register {
  display: flex; 
}

p {
  font-size: 12px;
  position: relative;
  margin-right: 4px;
  top: -7px; 
}

h6 {
  font-weight: bold; 
}

#title-ads {
  color: white; 
  z-index: 2;
  margin-top: 15px;

}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out {
  from {opacity: 100}
  to {opacity: 0}
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 100}
}