/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.row {
  margin-top: 20px;
}

h4 {
  margin-bottom: 0px;
}

h2 {
  margin-left: 10px;
  margin-right: 40px; 
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
  letter-spacing: 3px;
  position: relative;
  right: 25px;
}

.form-control {
  width: 250px; 
}

.register {
  display: flex; 
}

h6 {
  font-weight: bold; 
}

#title-ads {
  color: white; 
  z-index: 2;
  margin-top: 15px;
  position: relative; 
  top: -8px; 

}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out {
  from {opacity: 100}
  to {opacity: 0}
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 100}
}

input {
  color: gray; 
}

.login {
  width: 100%; 
  margin-bottom: 10px; 
  padding: 12px; 
}

input[type="text"]::placeholder { 
  color: gray;
  opacity: 5; 
  font-size: 14px;
}

input[type="password"]::placeholder { 
  color: gray;
  opacity: 5; 
  font-size: 14px;
}

span {
  position: relative; 
  width: 100px;
  height: 100px;
  right: -150px;
  top: -50px;
}

form {
  width: 100%; 
}

hr {
  color: lightgray;
}

.required-info {
  color: gray;
  position: relative;
  top: 10px;
  left: 5px;
}

.rows {
  display: flex;
  position: relative; 
  top: -15px;
  width: 100%;
}

.cols > input {
  display: block; 
  width: 100%;
  padding: 7px;
  margin: 10px 20px 20;
  position: relative;
  top: 20px; 
}

.first {
  width: 50%;
  margin-right: 13px; 
}

.sec {
  width: 50%;
}

.btm-input {
  position: relative;
  top: 155px;
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 13px 20px;
  border-radius: 5px;
  margin-left: 5px;
}

.terms {
  position: relative; 
  top: 180px;
  width: 90%;
  left: 5px;
}

#password {
  margin-top: 15px; 
}

.heart {
  width: 50px; 
  height: 50px;
  position: relative;
  left: 150px; 
  top: -40px; 
}

.b-i {
  width: 200px;
  height: 80px;
  position: relative; 
  top: -20px;
  display: block;
}

input[type="checkbox"] {
  margin-right: 5px; 
}
.checks-box {
  position: relative; 
  top: -40px;
}

.checks-box > p {
  position: relative;
  left: 0px; 
  top: 2px;
}
.greeting {
  display: flex; 
}

.btn-nav {
  margin-left: 5px; 
}

.greeting > h6 {
  position: relative;
  top: 5px; 
  margin-right: 5px; 
}

.title-logo {
  color: black;
}

.title-logo:hover {
  color: black;
  text-decoration: none; 
}

.form-input {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.login-btn {
  background: black;
  color: white; 
  padding: 4px 15px;
}

.errors {
  color: gray;
  position: relative;
  right: 80px;
  display: flex;
  top: -100px;
  height: 30px;
}

.errors > ul  {
  flex-direction: column;
  position: relative;
  bottom: 230px;
}

.errors > ul > li {
  position: relative;
  margin-top: 5px; 
  margin-bottom: 5px;
  width: 100%; 
  font-size: 13px; 
}

.errors1 {
  color: gray;
  position: relative;
  right: 80px;
  top: 20px;
  display: block;
  width: 100%; 
}

div.alert-error {
  font-size: 50px; 
  text-align: center;
  font-weight: bold;
  position: relative;
}
div.alert-error > h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

 

