/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.row {
  margin-top: 20px;
}

h4 {
  margin-bottom: 0px;
}

h2 {
  margin-left: 10px;
  margin-right: 40px;
  font-weight: bolder;
  font-family: sans-serif;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  position: relative;
  right: 25px;
  text-transform: uppercase;
  font-size: 28px;
}

.form-control {
  width: 250px;
}

h6 {
  font-weight: bold;
}

#title-ads {
  color: white;
  z-index: 2;
  text-align: right;
  position: relative;
  top: 8px;
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

input {
  color: gray;
}

.login {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
}

input[type="text"]::placeholder {
  color: gray;
  opacity: 5;
  font-size: 14px;
}

input[type="password"]::placeholder {
  color: gray;
  opacity: 5;
  font-size: 14px;
}

span {
  position: relative;
  width: 100px;
  height: 100px;
  right: -150px;
  top: -50px;
}

form {
  width: 100%;
}

hr {
  color: lightgray;
}

.required-info {
  color: gray;
  position: relative;
  top: 10px;
  left: 5px;
}

.rows {
  display: flex;
  position: relative;
  top: -15px;
  width: 100%;
}

.cols > input {
  display: block;
  width: 100%;
  padding: 7px;
  margin: 10px 20px 20;
  position: relative;
  top: 20px;
}

.first {
  width: 50%;
  margin-right: 13px;
}

.sec {
  width: 50%;
}

.btm-input {
  position: relative;
  top: 155px;
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 13px 20px;
  border-radius: 5px;
  margin-left: 5px;
}

.sign-in-link {
  color: black;
  position: relative;
  top: 150px;
  left: 40px;
}

.sign-in-link:hover {
  color: blue;
}

.signup-link {
  color: black;
  position: relative;
  top: 8px;
  left: 185px;
}

.signup-link:hover {
  color: blue;
}

.terms {
  position: relative;
  top: 180px;
  width: 90%;
  left: 5px;
}

#password {
  margin-top: 15px;
}

#heart {
  width: 50px;
  height: 40px;
  position: relative;
  left: 170px;
  top: -50px;
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

.basket {
  position: relative;
  left: 180px;
  top: -55px;
}

.b-i {
  width: 200px;
  height: 80px;
  position: relative;
  top: -20px;
  display: block;
}

input[type="checkbox"] {
  margin-right: 5px;
}
.checks-box {
  position: relative;
  top: -40px;
}

.checks-box > p {
  position: relative;
  left: 0px;
  top: 2px;
}

.register {
  display: flex;
  position: relative;
  left: 20px;
}

.greeting {
  display: flex;
  height: 45px;
  position: relative;
  left: 0px;
}

.btn-nav {
  position: relative;
  left: -55px;
  border: 0;
  padding: 0;
  margin: 0;
  top: -15px;
  background: transparent;
}

.btn-nav:hover {
  text-decoration: underline;
}

.greeting > h6 {
  position: relative;
  top: 5px;
  margin-right: 5px;
  left: 25px;
}

.form-input {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.login-btn {
  background: black;
  color: white;
  padding: 4px 15px;
}

.errors {
  color: gray;
  position: relative;
  right: 80px;
  display: flex;
  top: -100px;
  height: 30px;
}

.errors > ul {
  flex-direction: column;
  position: relative;
  bottom: 230px;
}

.errors > ul > li {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 13px;
}

.errors1 {
  color: gray;
  position: relative;
  right: 80px;
  top: 20px;
  display: block;
  width: 100%;
}

div.alert-error {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  position: relative;
  height: 500px;
}
div.alert-error > h1 {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.tutorial-video {
  text-align: center;
}

.tutorial-video > h3 {
  margin-bottom: 25px;
}

/* The navigation menu links */
.side-nav-menu > ul > li > a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  text-decoration: underline;
}

.products {
  position: relative;
  top: 40px;
}

.mobile {
  position: relative;
  top: 20px;
}

@media only screen and (max-width: 991px) {
  div.mobile {
    top: 100px;
    height: 65vh;
    position: relative;
  }

  ul.mobile-list {
    width: 0px;
    grid-template-columns: auto auto;
  }

  footer {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .tutorial-video {
    position: relative;
    top: 100px;
    height: 70vh;
  }
}

@media only screen and (min-width: 1201px) {
  .tutorial-video {
    position: relative;
    height: 100vh;
  }
}

@media only screen and (max-width: 991px) {
  .email-box > form {
    position: relative;
    margin-left: 30px;
  }

  .email-box > p {
    width: 300px;
  }

  .about-us {
    height: 63vh;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .email-box > form {
    position: relative;
    left: 50px;
  }

  .about-us {
    height: 55vh;
  }
}
