footer {
  background: black;
  color: white;
  height: 350px;
}

.footer > .row > .col > ul {
  display: block;
  text-align: left;
  padding-left: 0;
  top: 20px;
  position: relative;
  font-size: 12px;
}

.email-stuff {
  border-top: 1px solid lightgray;
  position: relative;
  top: 100px;
}

.footer > .row > .col > h6 {
  position: relative;
  top: 20px;
  left: 40px;
}

.footer > .row > .col > ul > li > a {
  color: white;
}

.footer > .row > .col > ul {
  display: block;
}

.footer > .row > .col {
  position: relative;
  top: 30px;
}

.github-icon {
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 10px;
}

.linkedin-icon {
  height: 30px;
  width: 30px;
  position: relative;
}

.email-box {
  display: flex;
}

.email-box > form > input {
  width: 200px;
  padding: 5px;
  position: relative;
}

.email-box > p {
  width: 100%;
  position: relative;
  top: 5px;
  left: 20px;
}

.right-col {
  text-align: right;
}

.footer-p {
  color: lightgray;
  position: relative;
  top: 120px;
  text-align: center;
}

.footer-p > p {
  right: 0px;
}

@media only screen and (max-width: 991px) {
  footer > form {
    position: relative;
    left: 90px;
  }

  .email-box > p {
    width: 350px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  footer > form {
    position: relative;
    left: 50px;
  }
}
