footer {
  background: black;
  color: white;
}

.email-stuff {
  border-top: 1px solid lightgray;
  padding-top: 10px;
  margin-top: 10px;
}

.about {
  padding-top: 15px;
}


.about > a {
  color: white;
}

.github-icon {
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 10px;
}

.linkedin-icon {
  height: 30px;
  width: 30px;
  position: relative;
}

.email-box {
  display: flex;
}

.email-box > form > input {
  width: 200px;
  padding: 5px;
  position: relative;
}

.email-box > p {
  width: 100%;
  margin-right: 20px;
}

.right-col {
  text-align: right;
}

.footer-p {
  color: lightgray;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}

.footer-p > p {
  margin-bottom: 0px;
  padding-bottom: 5px;
}
