/* logo header */
.title-logo-header {
  width: 360px;
  position: relative;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  margin-right: 0;
  right: 0;
}

.title-logo {
  color: black;
}

.title-logo:hover {
  color: black;
  text-decoration: none;
}

.homepage {
  height: 1900px;
}

.home-ad {
  position: relative;
  top: 3px;
  width: 100%;
  margin-bottom: 25px;
}

.sec-section {
  text-align: center;
}

.third-section {
  text-align: center;
  position: relative;
  margin-top: 15px;
 
}

.third-section > h2 {
  font-family: Georgia;
  font-weight: normal;
}

#third {
  position: relative;
  top: 50px;
}

.sec-section > h2 {
  font-family: georgia;
  font-weight: normal;
 
}

/* carousel 1 */

.slider {
  position: relative;
  display: flex;
  text-align: center;

  overflow-x: auto;
  top: -50px;

  -webkit-overflow-scrolling: touch;
}
.slider > div {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  position: relative;
}

.slider > div > p {
  width: 200px;
  position: absolute;
  top: 75%;
  left: 0;
  padding: 5px;
  font-size: 14px;
}
.slider > div > a {
  color: black;
}

.dot {
  left: 0px;
  position: relative;
  top: -8px;
  font-size: 16px;
}

.gel {
  left: 0;
  top: -4px;
  font-size: 14px;
  text-align: center;
}

.ad-images {
  width: 100%;
  text-align: center;
  margin-top: 55px;
}

.fourth-sec > h2 {
  position: relative;
  top: 100px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

.last-sec {
  position: relative;
  top: 150px;
  left: 30px;
}

.last-sec > a {
  margin-right: 50px;
}

.carousel-img {
  width: 150px;
  object-fit: contain;
  height: 150px;
  margin-bottom: 10px;
}
.products-div > a {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: black;
}

.slick-next,
.slick-prev {
  background: lightgray;
  border-radius: 50px;
  z-index: 1;
  height: 25px;
  width: 25px;
}

button.slick-arrow:hover {
  background: gray;
}

.price {
  top: 0;
  right: 0;
  position: relative;
}

.carousel-container {
  margin-top: 50px;
}

div.slick-slider > ul.slick-dots {
  align-items: flex-end;
  display: flex !important;
  justify-content: center;
}

iframe {
  width: 100%;
}
