.homepage {
  height: 1800px;
}


.home-ad {
  position: relative;
  top: -101px; 
}

.sec-section {
  text-align: center; 
}

.third-section {
  text-align: center; 
  position: relative;
  top: 40px; 
}

.third-section > h2 {
  font-family: Georgia;
  font-weight: normal;
}

#third {
  position: relative;
  top: 50px;
}

.sec-section > h2 {
  position: relative; 
  display: inline-block; 
  font-family: georgia; 
  font-weight: normal; 
  top: -70px;
}

/* carousel 1 */

.slider {
  /* line them up horizontally */
  position: relative; 
  display: flex;
  text-align: center;
  /* allow for scrolling */
  overflow-x: auto;
  top: -50px; 

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
}
.slider > div {
  /* make sure the width is honored */
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  position: relative;
}

.slider > div > p {
  width: 200px; 
  position: absolute;
  top: 75%;
  left: 0;
  padding: 5px; 
  font-size: 14px;
}

.slider > div > a {
  color: black; 
}

.dot {
  left: 0px;
  position: relative; 
  top: -8px;
  font-size: 16px;
}

.gel {
  left: 0;
  top: -4px;
  font-size: 14px;
}

.ad-images {
 width: 100%;
}

.ad-images > a > img {
 width: 100%;
}

.fourth-sec > h2 {
  position: relative;
  top: 100px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

.last-sec {
  position: relative;
  top: 150px;
  left: 30px;
}

.last-sec > a {
  margin-right: 50px;
}



