.top {
  background: black;
  height: 35px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }

.ad {
  display: block;
  margin: auto;
}

.mid-nav {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}

.right-top-nav {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

ul.nav {
  top: 0px;
}

.right-top-nav > a {
  margin-top: 8px;
  color: white;
  font-size: 12px;
  height: 10px;
}

.search {
  color: white;
  border: 3px solid red;
}

ul {
  display: flex;
}

li {
  position: relative;
  list-style-type: none;
  margin: 15px 40px;
}

nav > ul > li:hover {
  text-decoration: underline;
}

.lnk {
  position: relative;
  margin-top: 0;
  margin-right: 4px;
  font-weight: bolder;
  padding: 2px;
  font-size: 12px;
  color: black;
}

.register > div > p {
  font-size: 12px;
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.lnk:hover {
  color: black;
}

.top-mid {
  display: flex;
  justify-content: center;
}

/* Navbar dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding-top: 10px;
  cursor: pointer;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  text-align: left;
  opacity: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  text-decoration: underline;
}

/* Show the dropdown menu on hover */

.comm-div {
  text-align: center;
}

.comm-div > p {
  right: 0px;
  top: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#comm {
  position: absolute;
  left: -600px;
}

.comm-col {
  display: flex;
  margin: 0;
  padding: 0;
}

.divs {
  display: flex;
  margin: 0;
  padding: 0;
}

.divs > a {
  margin: 0;
  padding: 0;
}

.new-dd {
  display: block;
  font-size: 12px;
  top: 0px;
  padding-left: 0px;
}


.notify-badge {
  top: -10px;
  color: white;
  font-weight: bolder;
  left: 10px;
  background: rgba(245, 19, 19, 0.5);
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  z-index: 1;
}

img.basket-icon {
  width: 35px;
  height: 40px;
  object-fit: cover;
}

.new-dd li {
  padding: 0px;
  margin-left: 0px;
}

img#new-img {
  padding: 15px 0;
}

.align {
  display: flex;
}

#new-imgs {
  display: flex;
  flex-direction: column;
}

#new-imgs > img {
  position: relative;
  padding: 15px 15px 15px 0;
  display: block;
}
img#second-img {
  padding-top: 0;
}


/* how to tutorials dropdown */

.new-dd2 {
  display: block;
  font-size: 12px;
  padding-left: 0;
}

ul.new-dd2 > li {
  margin: 0;
  padding: 1px;
  width: 100%;
}

/* logout menu */

span#carat {
  position: relative;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  color: black;
  margin-left: 10px;
}

.logout-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: left;
  padding-left: 0;
}

.logout-menu > li {
  margin: 15px 20px;
}

.logout-dd:hover .logout-menu {
  display: block;
}

.icon-container {
  position: relative;
}

