.top {
  background: black;
  height: 35px;
  position: relative;
  top: -20px;
}

.ad {
  display: block;
  margin: auto;
}

.mid-nav {
  position: relative;
  top: -20px;
  height: 100px;
}

.right-top-nav {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.right-top-nav > a {
  margin-top: 8px;
  color: white;
  font-size: 12px;
  height: 10px;
}

.last-a > p {
  color: white;
  top: -25px;
  right: -30px;
}

.last-a:hover .flag-content {
  display: block;
}

#span {
  position: relative;
  margin-top: 8px;
  color: white;
  font-size: 12px;
  top: -58px;
  right: -55px;
}

.flag-content {
  display: none;
  position: absolute;
  background-color: black;
  width: 70px;
  height: 70px;
  z-index: 1;
  top: 25px;
  text-align: cneter;
  left: 465px;
}
.flags {
  position: relative;
  left: -70px;
  top: -2px;
}

.flag2 {
  position: relative;
  left: -70px;
  top: -32px;
}

.flag-content > li > p {
  position: relative;
  left: -70px;
  height: 10px;
  width: 20px;
  top: -20px;
  display: inline;
}

#engs {
  position: relative;
  margin-left: 20px;
}

#france {
  position: relative;
  margin-left: 20px;
  top: -50px;
}

.search {
  color: white;
  border: 3px solid red;
}

ul {
  display: flex;
  position: relative;
  top: -35px;
}

li {
  position: relative;
  list-style-type: none;
  margin: 20px 40px;
}

nav > ul > li:hover {
  text-decoration: underline;
}

.lnk {
  position: relative;
  top: 20px;
  right: 95px;
  margin-top: 0;
  margin-right: 4px;
  font-weight: bolder;
  padding: 2px;
  font-size: 12px;
  color: black;
}

p {
  font-size: 12px;
  position: relative;
  margin-right: 4px;
  top: 22px;
  right: 94px;
}

.lnk:hover {
  color: black;
}

.top-mid {
  display: flex;
  justify-content: center;
}
.right-btn {
  position: relative;
  right: -150px;
}

.nav-line {
  position: relative;
  top: -66px;
}

/* Navbar dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding-top: 10px;
}

/* .dropdown:hover {
  border: 2px solid lightgray;
  border-bottom: none; 
  padding: 10px 10px 0 10px; 
  z-index: 5;
} */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  top: 30px;
  text-align: left;
  left: -15px;
  opacity: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

ul.dropdown-content > li {
  position: relative;
  font-size: 14px;
  padding-right: 10px;
  left: -50px;
  width: 100%;
  margin: 0 0 0 10px;
}

ul.dropdown-content > li > a {
  padding: 5px 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.new {
  min-width: 800px;
  left: -150px;
  height: 400px;
}

.new > li > a {
  text-decoration: none;
}

div.col > img {
  float: left;
  width: 25%;
}

#comm {
  position: absolute;
  top: 30px;
  left: -600px;
  /* display: flex;  */
}

.comm-col {
  display: flex;
  margin: 0;
  padding: 0;
}

.divs {
  display: flex;
  margin: 0;
  padding: 0;
}

.divs > a {
  margin: 0;
  padding: 0;
}

#img-1 {
  height: 400px;
  margin: 0;
}

#img-2 {
  height: 400px;
  margin: 0;
}

#img-3 {
  height: 400px;
  margin: 0;
}

#img-4 {
  height: 400px;
  margin: 0;
}

.new-dd {
  display: block;
  min-width: 30%;
  text-align: left;
  font-size: 12px;
  left: -80px;
  top: -10px;
}

.new-dd li {
  padding: 0px;
}

img#new-img {
  position: relative;
  top: -400px;
  left: 200px;
  width: 30%;
}

#new-imgs > img {
  position: relative;
  margin: 2px 4px 2px 5px;
  left: 200px;
  top: -402px;
  display: block;
  width: 30%;
}
img#second-img {
  position: relative;
  left: 20px;
  top: -240px;
  margin-left: 5px;
}

.new2 {
  min-width: 600px;
  left: -150px;
  height: 380px;
}

/* brands drop down */

.new3 {
  min-width: 450px;
  left: -150px;
  height: 380px;
}

/* how to tutorials dropdown */

.new-dd2 {
  display: block;
  min-width: 30%;
  text-align: left;
  font-size: 12px;
  left: -80px;
  top: -10px;
}

ul.new-dd2 > li {
  margin: 5x 0 0 20px;
  padding: 1px;
  width: 100%;
}

.new4 {
  height: 440px;
}

/* logout menu */

span#carat {
  position: relative;
  top: 0px;
  left: 5px;
  width: 10px;
  height: 10px;
  color: black;
}
.logout-menu {
  display: none;
  position: absolute;
  background-color: white;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 16.5px;
  text-align: left;
  left: -10px;
  height: 30px;
}

.logout-dd:hover .logout-menu {
  display: block;
}

.icon-container {
  position: relative;
  top: 40px;
  left: -200px;
}
