// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-product {
  height: 900px;
}

#image-main {
  height: 300px;
  width: 300px; 
}

.details-2 {
  position: relative;
  left: -100px; 
}

.p-details-1 {
  text-align: left; 
  padding: 0;
  left: 20px;
}

.p-details-1 > p {
  text-align: left; 
  left: 0; 
  margin: 0;
  position: relative;
  top: -10px; 
  font-size: 16px; 
  width: 100%;
}

.p-details-1 > h6 {
  text-transform: uppercase;
  font-weight: bold; 
}

.p-details-2 {
  position: relative;
  left: 90px; 
  width: 300px;
  padding: 0;
}

.p-details-2 > h6 {
  text-transform: uppercase;
  font-weight: bold; 
}

.p-details-2 > p {
  left: 0;
  width: 100%;
  margin: 0;
  position: relative;
  top: -10px;
}

.p-details-3 {
  position: relative;
  left: 100px;
}

.product-checkbox {
  background: #f2f2f2;
  font-size: 12px; 
  width: 100%;
  margin-bottom: 10px;
  padding: 5px; 
}

select {
  padding: 10px 15px; 
  width: 45px; 
  height: 38px;
  margin-right: 10px; 
}

.basket-btn {
  color: white; 
  background: red; 
  font-size: 12px; 
  padding: 11px 30px; 
  border-radius: 5px; 
}

.product-info > p {
  font-size: 14px; 
  left: -23px;
  top: 100px;
  text-transform: uppercase;
}

