// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-product {
  height: 900px;
}

.transparent {
  border: "3px solid transparent";
}

.showBorder {
 border: "3px solid black";
}

#image-main {
  width: 300px;
}

.details-2 {
  position: relative;
  left: 0px;
}

.p-details-1 {
  text-align: left;
  padding: 0;
  left: 10px;
}

.p-details-1 > p {
  text-align: left;
  left: 0;
  margin: 0;
  position: relative;
  top: -10px;
  font-size: 16px;
  width: 100%;
}

.p-details-1 > h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.p-details-2 {
  position: relative;
  left: 20px;
  width: 300px;
  padding: 0;
}

.p-details-2 > h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.p-details-2 > p {
  left: 0;
  width: 100%;
  margin: 0;
  position: relative;
  top: -10px;
}

.p-details-3 {
  position: relative;
  left: 0px;
}

.product-checkbox {
  background: #f2f2f2;
  font-size: 12px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

select {
  padding: 10px 15px;
  width: 45px;
  height: 38px;
  margin-right: 10px;
}

.basket-btn {
  color: white;
  background: red;
  font-size: 12px;
  padding: 11px 30px;
  border-radius: 5px;
}

.product-info > p {
  font-size: 14px;
  left: -23px;
  top: 100px;
  text-transform: uppercase;
}

p.p-color {
  font-size: 14px;
  left: -23px;
  top: 35px;
  text-transform: uppercase;
}

.product-info > img {
  border: 3px solid transparent;
}

.product-info > img:hover {
  border: 3px solid black;
}

.product-info {
  position: relative;
}

@media only screen and (max-width: 991px) {
  .main-product {
    position: relative;
    top: 80px;
    height: 75vh;
  }

  .product-checkbox {
    display: none;
  }

  img#image-main {
    float: none;
  }

  .product-image-col {
    text-align: center;
  }

  .product-info > p {
    top: 0;
  }
  .product-info {
    position: relative;
    height: 100px;
  }

  p.p-color {
    font-size: 14px;
    left: 40px;

    text-transform: uppercase;
    position: relative;
    right: 100px;
  }

  .product-info > img {
    border: 3px solid transparent;
    position: relative;
    top: -80px;
    left: -20px;
    margin-bottom: 15px;
  }

  .tabbed {
    top: -30px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .main-product {
    height: 100vh;
  }

  .product-info > p {
    top: 0;
  }

  .tabbed > section > div {
    right: 200px;
  }
  img#image-main {
    float: none;
  }

  .product-image-col {
    text-align: center;
  }

  .product-checkbox {
    left: 0;
  }

  .tabbed {
    left: 10%;
  }
}
