.tabbed > input {
  display: none;
}

.tabbed > input:not(:checked) + section > div {
  display: none;
}

.tabbed > section > h5 {
  float: left;
  margin: 0;
}

.tabbed > section > div {
  float: right;
  width: 100%;
  margin: 2.5em 0 0 -100%;
}

.p-details {
  position: relative;
  left: 25px;
  margin-right: 20px;
  font-size: 14px;
  width: 90%;
}

.tabbed {
  float: left;
  width: 100%;
  position: relative;
  top: 100px;
  left: -5px;
}

.tabbed > section > h5 > label {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: 150px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
}

.tabbed > section > div {
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
  background: #fff;
}

.tabbed > section > h5 {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  font-size: 1em;
  font-weight: normal;
}

.tabbed > section > h5 > label {
  display: block;
  padding: 0.5em 0.75em;
  border: 1px solid #ddd;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
  background: #fff;
  margin-bottom: 0;
}

.tabbed > section > div {
  position: relative;
  z-index: 1;
  width: 700px;
  min-height: 450px;
  top: -10px;
}

.tabbed > input:checked + section > h5 {
  position: relative;
  z-index: 2;
  border: 3px solid lightblue;
}

.sug-use {
  position: relative;
  left: 25px;
  font-size: 14px;
}

.tab-ul {
  position: relative;
  top: 50px;
  display: block;
  font-size: 14px;
}

.tab-ul > li {
  position: relative;
  left: -25px;
  margin-left: 15px;
  top: -20px;
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
}
