// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-product {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.transparent {
  border: 3px solid transparent;
}

.showBorder {
 border: 3px solid black;
}

#image-main {
  width: 300px;
}

.details-2 {
  position: relative;
  left: 0px;
}

.p-details-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.p-details-1 > p {
  text-align: left;
  left: 0;
  margin: 0;
  position: relative;
  top: 0px;
  font-size: 16px;
  width: 100%;
}

.p-details-1 > h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.p-details-2 {
  width: 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  text-align: left;
}

.p-details-2 > h6 {
  text-transform: uppercase;
  font-weight: bold;
}

.p-details-2 > p {
  left: 0;
  width: 100%;
  margin: 0;
  position: relative;
  top: 0px;
}

.p-details-3 {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  text-align: left;
}

.product-checkbox {
  background: #f2f2f2;
  font-size: 12px;
  width: 100%;
  padding: 5px;
}

select {
  padding: 10px 15px;
  width: 45px;
  height: 38px;
  margin-right: 10px;
}

.basket-btn {
  color: white;
  background: red;
  font-size: 12px;
  padding: 11px 30px;
  border-radius: 5px;
}

.product-info > p {
  font-size: 14px;
  left: -23px;
  top: 100px;
  text-transform: uppercase;
}

p.p-color {
  font-size: 14px;
  left: -23px;
  top: 35px;
  text-transform: uppercase;
}


.product-info > img:hover {
  border: 3px solid black;
}

.product-info {
  text-align: left;
  padding-left: 0;
  margin-bottom: 25px;
}
