/* .matches {
  display: none; 
} */

 .auto {
  position: relative;
}

.matches {
  display: none; 
  border: 1px solid lightgray;
  background: white; 
  z-index: 2;
  position: absolute;
  top: 38px;
  left: 0px;
  width: 275px;
}

.show {
  display: block;
}

.matches > li {
  width: 100%;
  margin: 10px 0px;
  position: relative;
  left: -20px;
}

input.search-input {
  width: 275px;
  padding: 5px; 
} 

