/* The sidebar menu */
/* .sidenav {
  width: 200px; 
  z-index: 1; 
  border-right: 1px solid lightgray; 
  padding-top: 20px;
} */

.side-nav-menu > ul,
.side-nav-menu > ul > li {
  margin: 10px 0 0 0;
  padding: 0 20px 0 0;
  font-weight: bold;
  display: block;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  text-decoration: underline;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */


/* main */


.nav > .dropdown > a {
  color: black;
}

.products > .container {
  display: flex;
}

.inner-side {
 display: flex;
 flex-wrap: wrap;
}

.item-li {
  width: 125px;
  display: flex;
  justify-content: center;
}

.item-li > a {
  text-align: center;
  color: black;
}

.item-li > a > p {
  position: relative;
  left: 10px;
  top: -5px;
  margin-bottom: 2px;
}

.item-li > a > img {
  width: 150px;
  object-fit: contain;
  height: 150px;
}

.gel {
  left: 0;
  top: -4px;
  font-size: 14px;
}

a:active {
  text-decoration: underline;
}

