/* The sidebar menu */
.sidenav {
  height: 800px;
  width: 200px; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  border-right: 1px solid lightgray; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-right: 20px;
}

.side-nav-menu > ul,
.side-nav-menu > ul > li {
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  text-decoration: underline;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* main */

.products {
  position: relative;
  top: 20px;
  margin-bottom: 200px;
}

.nav > .dropdown > a {
  color: black;
}

.products > .container {
  display: flex;
}

.inner-side {
  height: 2600px;
  width: 500px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  position: relative;
  left: -250px;
  top: -10px;
  margin-left: 25px;
}

.item-li {
  width: 125px;
  display: flex;
  justify-content: center;
}

.item-li > a {
  text-align: center;
  color: black;
}

.item-li > a > p {
  position: relative;
  left: 10px;
  top: -5px;
  margin-bottom: 2px;
}

.item-li > a > img {
  width: 150px;
  object-fit: contain;
  height: 150px;
}

.gel {
  left: 0;
  top: -4px;
  font-size: 14px;
}

a:active {
  text-decoration: underline;
}
