.skin {
  text-align: center;
  padding-bottom: 20px;
}

.skin-li > a > p {
  position: relative;
  left: 0;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.skin-container {
  display: flex;
}

.skin-li > a > h6 {
  margin-bottom: 3px;
  margin-top: 5px;
}

.skin-li > a {
  color: black;
}

.skin-container > ul {
  display: flex;
  flex-wrap: wrap;
}

.skin-li > a > img {
  width: 150px;
  object-fit: contain;
  height: 150px;
}
